ffmpeg_python
gradio
langchain~=0.0.247
matplotlib~=3.7.2
numpy~=1.25.1
openai~=0.27.8
pysrt~=1.1.2
pysubs2~=1.6.1
scipy~=1.11.1
tiktoken~=0.4.0
torch~=2.0.1
torchaudio~=2.0.2
torchvision~=0.15.2
tqdm~=4.65.0
transformers
whisper~=1.1.10

Pillow~=10.0.0
requests~=2.31.0
chardet~=5.1.0